.add-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    width: 500px;
    max-width: 100%;
  }
  
  .add-post-form h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .add-post-form__input {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .add-post-form__input label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .add-post-form__input input,
  .add-post-form__input textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
  }
  
  .add-post-form__input textarea {
    resize: none;
    height: 200px;
  }
  
  .add-post-form__submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .add-post-form__submit-btn:hover {
    background-color: #3d8df0;
  }

  .add-post-form__preview {
    padding: 10px;
  }