* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

.container {
  padding-top: 10px;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 25%;
}

.post {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


.post img {
  width: 50vw;
  height: 25vh;
  object-fit: cover;
}



