* {
    box-sizing: content-box;
}

.container {
  width: 90%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 3px;
  
}

.sign-up {
  width: 80%;
  height: 50%;
  position: inherit;
  height:auto;
}

h3 {
  text-align: center;
  font-size: 28px;
  margin: 25px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  
}

button {
  width: 90%;
  padding: 10px;
  background-color: #0095f6;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

div {
    height: 50%;
}

form {

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

}

button:hover {
  background-color: #64c1ff;
}

button.danger {
  background-color: #ed4956;
}

button.danger:hover {
  background-color: #bf0c24;
}

.logo-icon {
    width: 300px;
}