.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: flex-end; /* Add this line */
}

.menu-item {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}

.menu-item > img {
  width: 25px;
  height: 25px;
}

.icon {
  width: 40px;
  height: 40px;
}

.logo-icon {
  width: 60px;
  height: 45px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Adjust this if needed */
    background-color: #ffffff;
    padding: 12px;
    border-top: 1px solid #efefef;
  }

  .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-around; /* Adjust this if needed */
    flex-wrap: wrap;
    width: 100%; /* Add this line */
  }

  .menu-item {
    margin-left: 16px;
    margin-top: 12px;
  }

  .post-header {
    align-self: flex-start;
  }

  .logo-icon {
    display: none;
  }

  .menu-item[href="/sign-out"] {
    display: none;
  }
}
