.container {
  margin-top: 0;
}

.post-container {
  width: 100%;
  height: auto;
  margin: 2px auto 60px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

.post-header {
  display: flex;
  align-items: end;
  padding: 10px;
}

.post-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.post-username {
  font-size: 12px;
  font-weight: 600;
}

.post-image {
  width: 80%;
}

.post-caption {
  padding: 16px;
  margin-top: 8px;
}

.post-caption .post-username {
  font-weight: 600;
  margin-right: 8px;
}
